/*stylesheet.css*/
* {
    text-align: center;
    /*background-color: darkolivegreen; Cuases a bug in the style
    */
}
h1 {
    font-family:  Impact, Charcoal, sans-serif;
    color: black;
}
h2 {
    font-family: monospace, fantasy, sans-serif;
    color: red;
    text-align: center;
    font-size: 36px;
    column-span: all; /*property specifies how many columns an element should span across*/
}
h3,h4,h5,h6 {
    float: left;
    color: black;
    font-size: 36px;
    column-span: all; 
}
body {
    margin: 0 auto;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    font-family: inherit, Verdana, sans-serif;
}

#footer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Verdana, sans-serif;
    text-align: right;
    border: 5px solid green;
}
#Columns {
    margin: auto;
    overflow: auto;
    text-align: left;
    height: 700px;
}
#background {
    background-color: papayawhip;
    height: 750px;
}
#BioContainer {
    background-color: burlywood;
}

#content {
    overflow: auto;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 650px;
    background-color: #adaa74;
    border: 2px solid grey;
}
#content2{
    overflow: hidden;
    text-align: center;
    height: 500px;
    background-color: #adaa74;
}
#feature {
    font-family: serif, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    height: 30em;
    float: middle;
    
}
#Columns {
    margin-left: 1%;
    float: left;
    column-count: 3; /*splits the columns into 3*/
    column-gap: 40px;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-top: 1%;
    font-family: inherit, Verdana, sans-serif;
    text-align: center;
    display: inline-block;
}
@media screen and (max-width: 950px) {
    #Columns {
        width: 75%;
        float: left;
        margin-left: 80px
    }
    .column1, .column2, .column3 {
    margin: 0.5%;
    height: 20em;
    font-family: monospace, sans-serif;
    overflow: hidden;
    resize: horizontal;
    font-size: 20px;
    }
    p {
    color: black;
    font-size: 24px;
    font-family: monospace;
    }
}
#ImgE {
    border: 2px clear;
}
.column1, .column2, .column3 {
    margin: 0.5%;
    height: 20em;
    font-family: monospace,sans-serif;
    overflow: hidden;
}
.col1, .col2, .col3 {
    width: 30%;
    float: left;
    margin: 1em;
    height: 20em;
    font-family: monospace, sans-serif;
}
.col4, .col5, .col6 {
    width: 30%;
    float: left;
    margin: 1em;
    height: 20em;
}
.column3 {
    margin-right: 0%;
}
li.navi {
    font-size: 24px;
    display: inline;
    padding: 0.5em;
    color: black;
}
li.Proj {
    text-align: left;
    font-family: monospace, sans-serif;
    font-size: 16px;
}
#nav, #footer {
    background-color: #adaa74;
    padding: 1em 0;
}
#feature {
    height: 35em; 
    margin-bottom: 2em;
    background-color: #adaa74;
}
.article {
    height: 35em; 
    margin-bottom: 2em;
    background-color: #adaa74;
    border: 4px solid green;
}
.contactArticle {
    height: 35em;
    margin-bottom: 2em;
    margin: 1em;
    background-color: #adaa74;
    border: 3px solid violet;
}
p {
    color: #384c80;
    font-size: 36px;
    font-family: monospace;
}
p.KF {
    color: black;
    font-size: 28px;
    font-family: monospace;
}
p.Edu {
    color: black;
    font-size: 28px;
    font-family: monospace;
}
p.proj {
    color: red;
    font-size: 28px;
    font-family: monospace;
}
p.Exper {
    color: black;
    font-size: 28px;
    font-family: monospace;
}
p.bio {
    font-family: cursive;
    color: #384c80;
    font-size: 24px;
    padding: 1em 0;
    display: inline;
}
p.Bio {
    border: 1em;
background-color: cornsilk;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 10px;
    margin-bottom:10px;
}
p.BioE {
    float: left;
    background-color: aquamarine;
}
p.BioP {
    float: right;
    background-color: aquamarine;
}
p.BioA {
    background-color: aquamarine;
}
p.cc {
    font-size: 18px;
    text-align: center;
}
p.frameInlay {
    font-size: 18px;
    color: crimson;
    background-color: azure;
    float: right;
}
p.frametitles {
    color: #384c80;
    font-family: monospace, sans-serif;
    font-size: 24px;
    text-align: left;
    margin-left: 10%;
    margin: 10%;
}
#slider, #figure{
    position: center;
    width: 300%;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px;
    animation: 10s slider infinite;
}
#slider figure img {
    float: left;
    width: 30%;
}
@keyframes slider {
    0% {
        left:0;  
    }
    20% {
        left:0;
    }
    25% {
        left:-100%;
    }
    45% {
        left:-100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
}








.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 480px) 
{
    body
    {
        background-color: aqua;
        float: left;
        padding-top: 12rem;
        padding-bottom: 12rem;    
    }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
    padding-right: 1rem;
    font-size: 18px;
    max-height:inherit;
    height: 50px;
}

footer p {
  margin-bottom: .25rem;
}
